{% extends 'base.html' %}

{% block start %}

<div class="container m-5">
    <form action="post">
        <div class="row">
            <div class="col-md-12">
                <label>Enter blog title</label>
                <input type="text" class="form-control" placeholder="Enter title" name="title">
            </div>

            <div class="col-md-12">
                {{form.media}}
                {{form.as_p}}
            </div>

            <div class="col-md-12">

                <input type="file" class="form-control">
            </div>
            <div class="m-3">
                <button type="submit" class="btn btn-primary">Save Post</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}